body{
    font-family: "PT Sans", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
.card{
margin-top: 10px;
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFA500;
    color: black;
}

td{
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
*/
