<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form class="form-horizontal" method="Post" th:action="@{/add_provision}" th:object="${provision}">

    <div class="container">

        <div class="form-group">
            <label for="test1" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test1" name="titel" placeholder="Skriv en titel" required="true" th:field="*{ga_low_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test2" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test2" name="titel" placeholder="Skriv en titel" required="true" th:field="*{ga_med_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test3" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test3" name="titel" placeholder="Skriv en titel" required="true" th:field="*{ga_high_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test4" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test4" name="titel" placeholder="Skriv en titel" required="true" th:field="*{ga_super_high_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test5" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test5" name="titel" placeholder="Skriv en titel" required="true" th:field="*{fl_low_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test6" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test6" name="titel" placeholder="Skriv en titel" required="true" th:field="*{fl_med_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test7" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test7" name="titel" placeholder="Skriv en titel" required="true" th:field="*{fl_high_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test8" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test8" name="titel" placeholder="Skriv en titel" required="true" th:field="*{fl_super_high_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test9" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test9" name="titel" placeholder="Skriv en titel" required="true" th:field="*{vas_amount}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="test10" class="col-sm-2 control-label">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="test10" name="titel" placeholder="Skriv en titel" required="true" th:field="*{accessory_amount}"/>
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input class="btn btn-primary" type="submit" value="Opret "/>
            </div>
        </div>
    </div>


</form>


</body>
</html>