<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Tilføj provision</title>
    <div th:replace="header_admin :: header-css"/>
    <link rel="stylesheet" href="../static/mainCss.css"/>
</head>
<body>


<div class="container" style="margin-top: 100px;">
    <h1>Provision</h1>
</div>

<div class="container">

    <form method="Post" th:action="@{/add_provision}" th:object="${sale}">
<div class="row">
    <div class="col-4">
        <div class="card ">
            <div class="card-header">Ga</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="gaLow" class="control-label">low</label>
                    <input type="text" class="form-control" id="gaLow" name="gaLow" placeholder="GA-low"
                           required="true" th:field="*{ga_low_amount}"/>
                </div>

                <div class="form-group">
                    <label for="gaMedium" class="control-label">Medium</label>
                    <input type="text" class="form-control" id="gaMedium" name="gaMedium" placeholder="GA-medium"
                           required="true" th:field="*{ga_med_amount}"/>

                </div>

                <div class="form-group">
                    <label for="gaHigh" class="control-label">High</label>
                    <input type="text" class="form-control" id="gaHigh" name="gaHigh" placeholder="GA-high"
                           required="true" th:field="*{ga_high_amount}"/>

                </div>

                <div class="form-group">
                    <label for="gaSpuperHigh" class="control-label">Super High</label>
                    <input type="text" class="form-control" id="gaSpuperHigh" name="gaSpuperHigh"
                           placeholder="GA-super high"
                           required="true" th:field="*{ga_super_high_amount}"/>

                </div>
            </div>
        </div>
</div>
<div class="col-4">
        <div class="card">
            <div class="card-header">Fl</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="flLow" class="control-label">low</label>
                    <input type="text" class="form-control" id="flLow" name="flLow" placeholder="Fl-low"
                           required="true" th:field="*{fl_low_amount}"/>
                </div>

                <div class="form-group">
                    <label for="flMedium" class="control-label">medium</label>
                    <input type="text" class="form-control" id="flMedium" name="flMedium" placeholder="Fl-medium"
                           required="true" th:field="*{fl_med_amount}"/>

                </div>

                <div class="form-group">
                    <label for="flHigh" class="control-label">High</label>
                    <input type="text" class="form-control" id="flHigh" name="flHigh" placeholder="Fl-high"
                           required="true" th:field="*{fl_high_amount}"/>

                </div>

                <div class="form-group">
                    <label for="flSuperHigh" class="control-label">super High</label>
                    <input type="text" class="form-control" id="flSuperHigh" name="flSuperHigh"
                           placeholder="Fl-super high"
                           required="true" th:field="*{fl_super_high_amount}"/>
                </div>
            </div>
        </div>
</div>

<div class="col-4">
        <div class="card">
            <div class="card-header">Vas</div>
            <div class="form-group card-body">
                <input type="text" class="form-control" id="vas" name="Vas" placeholder="Vas"
                       required="true" th:field="*{vas_amount}"/>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Accessory</div>
            <div class="form-group card-body">
                <input type="text" class="form-control" id="accessory" name="accessory" placeholder="Accessory"
                       required="true" th:field="*{accessory_amount}"/>
            </div>
        </div>



</div>
        <div class="form-group" style="margin-top: 20px;">
            <div class="col-sm-10 col-sm-offset-2">
                <input class="btn btn-primary" type="submit" value="Opret"/>
            </div>
        </div>

</div>
    </form>


</div>


</body>
</html>
