<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="../css/mainCss.css"/>

    </div>

    <div th:fragment="header">
        <!-- this is header -->

        <nav class="navbar navbar-expand-md bg-dark" style="color: white;">
            <div class="container">
                <a th:href="@{/home}"><img src="../css/picture/3-mobile-vector-logo.png" style="height: 7%;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}">Forside</a>
                        </li>
                    </ul>
                    <ul class="nav justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/login}">login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <link rel="stylesheet" href="../css/mainCss.css">
</head>
<body>

</body>
</html>